@charset "utf-8";

// import Google fonts
// @import url("");

// https://coolors.co/36827f-db6c79-25283d-fef4d8-392061
// main palette
$celadonGreen: #36827f;
$candyPink: #db6c79;
$spaceCadet: #25283d;
$cornsilk: #fef4d8;
$russianViolet: #392061;

$cornsilk-1: #fef9eb;
$cornsilk__5: #fbd774;
$cornsilk__7: #facc4c;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $celadonGreen;
$link: $russianViolet;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $cornsilk-1;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// @import "../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
// @import "../../node_modules/bulma/sass/elements/container.sass";
// @import "../../node_modules/bulma/sass/elements/title.sass";
// @import "../../node_modules/bulma/sass/form/_all.sass";
// @import "../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";

@import "../../node_modules/bulma/bulma.sass";

.cardsAlign {
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 30vw;
  height: 42rem;
}

.card-info {
  position: absolute;
}
